.App {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.App button {
  background: green;
  color: #fff;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.App button:hover {
  background: lightgreen;
  color: black;
}

.App button.Red {
  background: red;
  color: #000;
}

.App button.Red:hover {
  background: salmon;
}
